<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new developer</title>
</head>
<body>
<section>
    <h1>Add new developer</h1>
</section>
<section>
    <form th:action="@{/developers/add}" th:method="post" th:object="${createDeveloperCommand}">
        <fieldset>
            <div>
                <label> Name:
                    <input type="text" th:field="*{developerName}" name="developerName" required>
                </label>
                <div th:if="${#fields.hasErrors('developerName')}">
                    <span th:each="err : ${#fields.errors('developerName')}" th:text="${err}"></span>
                </div>
            </div>

            <div>
                <label>Contact person name:
                    <input type="text" th:field="*{contactPersonName}" name="contactPersonName">
                </label>
                <div th:if="${#fields.hasErrors('contactPersonName')}">
                    <span th:each="err : ${#fields.errors('contactPersonName')}" th:text="${err}"></span>
                </div>
            </div>

            <div>
                <label>Contact number:
                    <input type="text" th:field="*{contactNumber}" name="contactNumber" required>
                </label>
                <div th:if="${#fields.hasErrors('contactNumber')}">
                    <span th:each="err : ${#fields.errors('contactNumber')}" th:text="${err}"></span>
                </div>
            </div>

            <div><button type="submit">Add</button></div>
            <div th:if="${#fields.hasGlobalErrors()}" th:value="${#fields.globalErrors()}"></div>


        </fieldset>
    </form>
</section>
</body>
</html>